<div class="row " style="height: 90vh">
  <div class="col-sm-3 border border-dark">
    <app-user-list></app-user-list>
  </div>
  <div class="col-sm-6 border border-dark p-0">
    <div class="d-flex flex-column justify-content-between h-100">
      <div class="p-3">
        <app-chat-content></app-chat-content>
      </div>
      <div class="p-3" *ngIf="(connectionStatus$ | async) && (chatInfo$ | async)">
        <app-chat-panel></app-chat-panel>
      </div>
    </div>
  </div>
  <div class="col-sm-3 border border-dark">
    <app-chat-profile></app-chat-profile>
  </div>
</div>
