<div class="wrapper fadeInDown">
  <div id="formContent">
<!--    <div class="fadeIn first">-->
<!--      <img alt="User Icon" id="icon" src="http://danielzawadzki.com/codepen/01/icon.svg"/>-->
<!--    </div>-->

    <!-- Login Form -->
    <form [formGroup]="loginForm">
      <label for="login">Username</label>
      <input class="fadeIn second" id="login" [formControlName]="'username'"
                                        placeholder="Enter username/email" type="text">
      <label for="password">Password</label>
      <input class="fadeIn third" id="password" [formControlName]="'password'"
                                           placeholder="Enter password" type="password">
      <label class="d-block">
        <input type="checkbox" id="rememberMe" [formControlName]="'rememberMe'">
        Remember Me
      </label>
      <input class="fadeIn fourth" type="button" (click)="login()" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
