<ng-container *ngIf="chatInfo$ | async">
  <div class="border-dark border-bottom">
    <h4 *ngIf="chatInfo$ | async">To: {{ (chatInfo$ | async).receiver }}</h4>
  </div>
  <div #scrollDir="appScrollToBottom" [stayAtBottom]="true" appScrollToBottom class="overflow-auto"
       style="height: 30rem;">
    <ul class="pl-1" style="list-style-type:none;">
      <!-- we will use Angular binding to populate list of messages -->
      <ng-container *ngFor="let block of (chatInfo$ | async).messageBlockList">
        <li *ngFor="let message of block.messages" [class.text-right]="message.from == username"
            class="message">
          <span>{{message.from}}</span> - <span>{{message.content}}</span><br>
          <small>{{message.timestamp | date: 'fullTime'}}</small>
        </li>
      </ng-container>
    </ul>
  </div>
</ng-container>
