<div class="d-flex">
  <!--  <span>{{serverHeaders$|async}}</span>-->
  <button class="btn btn-success m-1" (click)="activate()">Activate</button>
  <button class="btn btn-warning m-1" (click)="deactivate()">DeActivate</button>
  <button class="btn btn-danger m-1" (click)="forceDisconnect()">Simulate Error</button>
</div>
<div class="form-group row">
  <label class="col-3 col-form-label" for="username">Username</label>
  <input id="username" class="form-control col-6" [(ngModel)]="username" type="text">
  <div class="col-2 d-flex justify-content-center align-items-center">
    <div class="status-{{connectionStatus}} rounded-circle status-indicator"></div>
  </div>
</div>
