<ng-container *ngIf="chatInfo">
  <div class="border-dark border-bottom">
    <h4 *ngIf="recipient">To: {{ recipient }}</h4>
  </div>
  <div class="overflow-auto" style="height: 30rem;" appScrollToBottom [stayAtBottom]="true"
       #scrollDir="appScrollToBottom">
    <ul class="pl-1" style="list-style-type:none;">
      <!-- we will use Angular binding to populate list of messages -->
      <ng-container *ngFor="let block of chatInfo.messageBlockList">
        <li class="message" [class.text-right]="message.from == username"
            *ngFor="let message of block.messages">
          <span>{{message.from}}</span> - <span>{{message.content}}</span><br>
          <small>{{message.timestamp | date: 'fullTime'}}</small>
        </li>
      </ng-container>
    </ul>
  </div>
</ng-container>
