<form [formGroup]="chatForm" class="py-2 border-dark border-top">
  <label for="content">Message</label>
  <div class="form-group row">
    <div class="col-sm-10 pr-0">
      <textarea [formControlName]="'content'" class="form-control" id="content"
                type="text"></textarea>
    </div>
    <div class="col-sm-2 text-center">
      <button (click)="sendMessage()" class="btn btn-primary w-100" type="submit">Send</button>
    </div>
    <div *ngIf="chatForm.get('content').dirty && chatForm.get('content').hasError('required')"
         style="color: red">
      Content cannot be blank
    </div>
  </div>
</form>
